body {
  padding-top: 40px;
  font-family: cursive, monospace;
  text-align: center;
  color: #fff;
  background-color: #000;
}

#target{
  font-size: 52px;
  letter-spacing: 10px;
  cursor: grab;
}

#target:hover {
  color: orange;
}